<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Product Table</title>
	<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="app.css">
</head>
<body>

<div id="app" class="container mt-5">
	<btable :fields="requests.fields">
		<template v-for="(request, requestId) in requests.elements">
			<brow>
				<bcol v-for="(requestProp, requestPropId) in request._props" :key="requestPropId">
					{{ requestProp.value }}
				</bcol>
			</brow>
			<brow v-if="request.products.elements.length > 0">
				<bcol :colspan="request._props.length">
					<btable :fields="request.products.fields">
						<brow
								v-for="(product, productId) in request.products.elements"
								:key="productId"
								@addSubRow="addSubRow(productId)"
								@changeSubRowsState="changeSubRowsState"
						>
							<template v-if="product.parent > -1">
								<bcol v-for="(productProp, productPropId) in product._props" :key="productPropId">
									<binput v-model="productProp.value" :disabled="product.disabled"></binput>
								</bcol>
							</template>
							<template v-else>
								<bcol
										v-for="(productProp, productPropId) in product._props"
										v-show="request.products.fields[productPropId].displayable"
										:rowspan="request.products.fields[productPropId].duplicatable ? 1 : (product.subRows+1)"
										:key="productPropId"
								>
									<template v-if="product.editable && request.products.fields[productPropId].editable">
										<template v-if="request.products.fields[productPropId].type === 'checkbox'">
											<div class="custom-control custom-checkbox">
												<input
														type="checkbox"
														class="custom-control-input"
														:uniqueId="getUniqueId(product, productId, productProp.value, requestId)"
														:id="product.uniqueId"
														:checked="productProp.value"
														v-model="productProp.value"
												>
												<label class="custom-control-label" :for="product.uniqueId"></label>
											</div>
										</template>
										<template v-if="request.products.fields[productPropId].type === 'input'">
											<binput
													v-model="productProp.value"
													:disabled="product.disabled"
													:mask="request.products.fields[productPropId].mask"
											></binput>
										</template>
										<template v-if="request.products.fields[productPropId].type === 'button'">
											<button
													type="button"
													class="btn btn-sm btn-icon btn-outline-secondary"
													@click="addSubRow(productId, requestId)"
													v-show="!product.disabled"
											>
												{{ productProp.value }}
											</button>
										</template>
									</template>
									<template v-else>
										<template v-if="request.products.fields[productPropId].displayValue">
											{{ productProp.value }}
										</template>
									</template>
								</bcol>
							</template>
						</brow>
					</btable>
				</bcol>
			</brow>
		</template>
	</btable>

</div>

<script src="node_modules/inputmask/dist/inputmask.js"></script>
<script src="node_modules/axios/dist/axios.js"></script>
<script src="node_modules/lodash/core.min.js"></script>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="app.js"></script>
</body>
</html>