<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Product Table</title>
	<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="app.css">
</head>
<body>

<div id="app" class="container mt-5">
	<btable :fields="requests.fields">
		<brow v-for="(request, requestId) in requests.elements" :key="requestId">
			<bcol v-for="prop in request._props">
				{{ prop.value }}
			</bcol>
			<btable :fields="request.products.fields" v-if="request.products.length > 0">
				<brow
						v-for="(product, productId) in request.products"
						:key="productId"
						@addSubRow="addSubRow(productId)"
						@changeSubRowsState="changeSubRowsState"
				>
					<template v-if="product.parent > -1">
						<td v-for="prop in product._props">
							<binput v-model="prop.value" :disabled="product.disabled"></binput>
						</td>
					</template>
					<template v-else>
						<td
								v-for="(prop, p) in product._props"
								v-show="request.products.fields[p].displayable"
								:rowspan="request.products.fields[p].duplicatable ? 1 : (product.subRows+1)"
						>
							<template v-if="product.editable && request.products.fields[p].editable">
								<template v-if="request.products.fields[p].type === 'checkbox'">
									<div class="custom-control custom-checkbox">
										<input
												type="checkbox"
												class="custom-control-input"
												:uniqueId="getUniqueId(product, productId, prop.value)"
												:id="product.uniqueId"
												:checked="prop.value"
												v-model="prop.value"
										>
										<label class="custom-control-label" :for="product.uniqueId"></label>
									</div>
								</template>
								<template v-if="request.products.fields[p].type === 'input'">
									<binput
											v-model="prop.value"
											:disabled="product.disabled"
											:mask="request.products.fields[p].mask"
									></binput>
								</template>
								<template v-if="request.products.fields[p].type === 'button'">
									<button
											type="button"
											class="btn btn-sm btn-icon btn-outline-secondary"
											@click="addSubRow(productId)"
											v-show="!product.disabled"
									>
										{{ prop.value }}
									</button>
								</template>
							</template>
							<template v-else>
								<template v-if="request.products.fields[p].displayValue">
									{{ prop.value }}
								</template>
							</template>
						</td>
					</template>
				</brow>
			</btable>
		</brow>
	</btable>

</div>

<script src="node_modules/inputmask/dist/inputmask.js"></script>
<script src="node_modules/axios/dist/axios.js"></script>
<script src="node_modules/lodash/core.min.js"></script>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="app.js"></script>
</body>
</html>